* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 450px;
    padding: 20px;
    text-align: center;
    border: 5px solid black;
    background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    Border-radius: 20px;
}
.introduction {
    margin-bottom:50px;
}

.bio {
    margin-top: 20px;
}

.title_redes {
    margin-bottom: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border: 5px solid black;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.redes_sociales {
    position: relative;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius:5%;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    width: 100%;
    max-width: 300px;
    gap: 15px;
}

.social-btn {
    position: relative;
    display: block;
    width: 100%;
    max-width: 200px;
    padding: 10px;
    margin: 0px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    background:linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    align-items: center;
}

footer {
    margin-top: 30px;
    font-size: 0.8rem;
    color: #718096;
    text-align: center;
}